<% provide(:title, 'Compare Malaysia insurance, credit cards, mortgages') %>

<div class="large-12 columns nopadding">
	
	<div class="row" style="padding-top: 5em; padding-bottom: 5em;">
		<div class="large-8 columns introslide">
			<img src="http://placehold.it/700x450/A92B48/fff" alt="slide 1" />	
		</div>
		<div class="large-4 columns introside">
			<p>
					Last week, 3215 people used moneybaby to
					compare and save money on their insurance, credit cards and mortgages for free.	
			        Today it's your turn.
			</p>	
		</div>	
	</div>

	<div class="row">
		<h1 class="intro">
			<strong>
				98% of customers recommend Moneybaby.<br>
			 	<a href="#">Find out why</a>
			</strong>
		</h1>
	</div>

</div>



