<% provide(:title, 'Compare insurance, credit cards, mortgages') %>

<div class="large-12 columns nopadding introslide">
	
	<div class="row">
		<h1 class="intro">
			<strong>
				Last week, 3215 people used moneybaby to<br> 
				compare insurance and save money.<br> 
		        Today it's your turn.
			</strong>
		</h1>	
		<img src="http://placehold.it/1300x500/A92B48/fff" alt="slide 1" />	
	</div>

	<div class="row">
		<h1 class="intro">
			<strong>
				98% of customers recommend Moneybaby.<br>
			 	<a href="#">Find out why</a>
			</strong>
		</h1>
	</div>

</div>

<hr />

