<% provide(:title, 'Compare Malaysia insurance, credit cards, mortgages') %>

<div class="large-12 columns nopadding">
	
	<div class="row toppad-large">
		<div class="large-8 columns introslide nopadding">
			<img src="http://placehold.it/700x450/2ECC71/fff&text=large heartwarming photo" alt="slide 1" />	
		</div>
		<div class="large-4 columns introside">
			<h1><strong>Compare & Save</strong></h>
			<p>
					Last week, 3215 people used moneybaby to
					compare and save money on their insurance, credit cards and mortgages for free.	
			        Today it's your turn.
			</p>	
		</div>	
	</div>

	<div class="row toppad-large">
		<h1 class="intro">
			<strong>
				98% of customers recommend Moneybaby.<br>
			 	<a href="#">Find out why</a>
			</strong>
		</h1>
	</div>

</div>



