<% provide(:title, 'Home') %>

<div class="large-12 columns nopadding introslide">
	
	    <img src="http://placehold.it/1300x500/A92B48/fff" alt="slide 1" />
 
</div>

<div class="row">
  <div class="large-4 columns">
	<h1>Moneybaby</h1>
	<p>Find me in app/views/static_pages/home.html.erb</p>
  </div>
  <div class="large-4 columns">...</div>
  <div class="large-4 columns">...</div>
</div>

