.top-bar {
  padding-left: 2em;
  padding-right: 2em;
}

.top-bar-section {

  li {
  	padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
	}

}

.shadow {
  -webkit-box-shadow: 0 1px 1px rgba(6,8,8,0.1);
  box-shadow: 0 1px 1px rgba(6,8,8,0.1);
}

.copyright {
  background: #f2f2f2;
  padding-top: 3em;
  padding-bottom: 3em;
}

.drawer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #5d5b5c;
  z-index: 500;
  -webkit-box-shadow: 0px 20px 20px -20px rgba(6,8,8,0.4) inset,0px -20px 20px -20px rgba(6,8,8,0.4) inset;
  box-shadow: 0px 20px 20px -20px rgba(6,8,8,0.4) inset,0px -20px 20px -20px rgba(6,8,8,0.4) inset;

    .row {
  	  max-width: 75rem !important;
	}

	h3 {
	  color:#fff !important;
	  font-size: 18px !important;
	  font-weight: 500;
	  padding-bottom: 1em !important;
	}
	
	a {
	  color:#e9eae5 !important;
	  font-size: 0.75rem;
	  font-weight: normal !important;
	  border-bottom: 1px solid transparent !important;
	  -o-transition: all 0.3s linear;
	  -moz-transition: all 0.3s linear;
	  -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
	}
	
	a:hover {
	  color:#fff !important;
	  border-bottom-color:#fff !important;
	}
	
}

