@import 'foundation_and_overrides.scss';

@mixin padding-top($em) {
  padding-top: $em;
}

	.toppad-small { 
		@include padding-top(1em);
	}

	.toppad-medium {
		@include padding-top(3em);	
	}

	.toppad-large {
		@include padding-top(5em);
	}

@mixin padding-bottom($em) {
  padding-bottom: $em;
}

	.bottompad-small { 
		@include padding-top(1em);
	}

	.bottompad-medium {
		@include padding-top(3em);	
	}

	.bottompad-large {
		@include padding-top(5em);
	}

.main {
  background-color: #ffffff;
  padding: 1em;
  -webkit-box-shadow: 0px 1px 1px rgba(6,8,8,0.1);
  -moz-box-shadow: 0px 1px 1px rgba(6,8,8,0.1);
  box-shadow: 0px 1px 1px rgba(6,8,8,0.1);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; /* future proofing */
  -khtml-border-radius: 4px; /* for old Konqueror browsers */
}

.nomargin {
  margin: 0;
}







