@import 'foundation_and_overrides.scss';

.nopadding {
  padding: 0px;
}

.introslide {
  margin-top: 10px;
  opacity: 0;
}

.mainwrapper {
  padding: 0px;
  margin: 0px;
}

.nobullet {
  list-style-type: none;
}

@media #{$medium-up} { 
	.introside {
	  padding-top: rem-calc(150);
	}
}

@media #{$small-only} { 
	.introside {
	  padding-top: rem-calc(50);
	}
}

.intro {
  text-align: center;
  letter-spacing: -1px;
  line-height: 1.2em;
  margin-top: 1em;
  margin-bottom: 1em;
}





