<footer class="drawer hide" id="drawer">
    <div class="row">
		<%= link_to_function "X", "$('#drawer').slideToggle(200)", class: "right" %>
	  </div>
	  <div class="row nopadding">
		<div class="large-3 columns">
			<ul class="nobullet">
      		<h3>About</h3>  
		    	<li><%= link_to 'About Moneybaby', about_path %></li>
				<li><a>Jobs</a></li>
				<li><a>Policies</a></li>
			</ul>
	 	</div>
		<div class="large-3 columns"> 
			<ul class="nobullet">
      		<h3>Support</h3>  
		    	<li><%= link_to 'Help', help_path %></li>
				<li><a>...</a></li>
				<li><a>...</a></li>
			</ul>
	 	</div>
		<div class="large-3 columns">
			<ul class="nobullet">
      		<h3>Resources</h3>
		    	<li><a>Guides</a></li>
				<li><a>Experts</a></li>
			</ul>
	 	</div>
		<div class="large-3 columns">
			<ul class="nobullet">
      		<h3>Contact us</h3>
		    	<li><%= link_to "Contact", contact_path %></li>
				<li><a>Feedback</a></li>
				<li><a>Press</a></li>
			</ul>  
	 	</div>
	  </div>
  </div>
</footer>