<footer class="copyright">
	<div class="row"> 
		<hr />
	</div>
    <br>
    <br>
	<div class="row">
		<div class="large-12 columns">
	      <h3 class="text-center">
			<%= link_to image_tag("logodark.png", width: 250, alt: "Compare Insurance and financial products with Moneybaby"), root_path %>
		 </h3>
	 	</div>
	</div>
	
	<div class="row">
		<div class="large-12 columns">
			<h5 class="text-center">
				<small>
					&copy; All Rights Reserved. Moneybaby® is a registered trademark of The Webstasy Company.
				</small>
			</h5>
		</div>
    </div>

</footer>
