<nav class="top-bar shadow" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
		<%= link_to image_tag("logoblue.png", width: 150, alt: "Compare Insurance and financial products with Moneybaby"), root_path %>
	 </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
	 <ul class="right">
		<li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
	 </ul>

	 <ul class="left">
		<li class="has-dropdown">
			<a>Insurance</a>
			<ul class="dropdown">
				<li><%= nav_link 'Life Insurance', life_insurances_path %></li>
			</ul>
		</li>
	
		<li class="triangle-isosceles"><a>Money</a></li>
		<li><a>Blog</a></li>
		<li><%= link_to_function "More", "$('#drawer').slideToggle(200);" %></li>
	 </ul>
	</section>
</nav>